DATABASE_URL="jdbc:postgresql://localhost:5432/scrumdapp-example"
DATABASE_DRIVER="org.postgresql.Driver"
DATABASE_USER="root"
DATABASE_PASSWORD="one-very-scrum-worthy-password"

DISCORD_OAUTH_ID=
DISCORD_OAUTH_SECRET=
DISCORD_OAUTH_CALLBACK=

GCM_IV_SIZE=12
GCM_SPEC_SIZE=128
AES_SECRET_KEY=

AUTHORIZATION_SERVER_ID=730401118470930432
