body, html {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--fg);
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
     animation-duration: 0.5s;
 }

:root {
    view-transition-name: root;
}

:focus {
    border: 1px solid var(--fg4);
    outline: 1px dashed var(--purple);
}

#app {
    position: relative;
}

/* Text */

h1 {
    margin: var(--gap-sm) 0 var(--gap-lg) 0;
    font-style: italic;
}

h2 {
    margin: var(--gap-sm) 0 var(--gap-md) 0;
    font-style: italic;
}

p {
    margin: 0 0 var(--gap-md);
}

ul, ol {
    margin: 0;
    margin-bottom: var(--gap-md);
}

hr {
    width: 100%;
    color: var(--bg2);
}

.text-center {
    text-align: center;
}

.text-sb {
    font-weight: 600;
}

.text-b {
    font-weight: 700;
}

.text-i {
    font-style: italic;
}

.muted {
    color: var(--gray)
}

.font-sm {
    font-size: 0.75rem;
}

.material-symbols-outlined {
    font-size: 1rem;
}

/* Components */

.bg-img {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
}

.card {
    background: var(--bg_h);
    border: 1px solid var(--fg4);
    padding: var(--gap-lg);
    border-radius: var(--radius);
}

.btn-card {
    transition: background-color 0.2s ease-out;
}

.btn-card:hover {
    background: var(--bg1);
}

.card-title {
    font-size: var(--font-size-lg);
}

.card-img {
    display: block;
    border-radius: var(--radius);
    object-fit: cover;
    width: 100%;
    height: auto;
}

.btn {
    text-decoration: none;
    border: 1px solid var(--fg4);
    padding: var(--gap-sm) var(--gap-md);
    border-radius: var(--radius);
    color: var(--fg);
    background: var(--bg_h);
}

.btn:hover {
    background: var(--bg2);
}

.btn:active {
    background: var(--bg3);
}

.btn-blue {
    background: var(--blue-dim);
}

.btn-blue:hover {
    background: var(--blue);
}

.btn-red {
    background: var(--red-dim);
}

.btn-red:hover {
    background: var(--red);
}

.icon {
    width: 24px;
    height: 24px;
}

/* Navbar */

.nav-height {
    height: 42px;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 0 var(--gap-lg);
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: var(--gap-sm) var(--gap-lg);
    padding: var(--gap-sm);
    border-radius: 10000px;
    border: 1px solid var(--fg4);
    background: var(--bg_h);
}

.nav-group {
    flex: 1;
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}

.nav-user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.nav-button {
    color: var(--fg);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 var(--gap-md);
    border-radius: var(--radius);
    height: 100%;
    gap: var(--gap-sm);

    transition: background-color 0.2s ease-out;
}

.nav-button.active {
    text-decoration: underline;
}

.nav-button:hover {
    background: var(--bg2);
}

.nav-button:active {
    background: var(--bg3);
}

.breadcrumbs-separator {
    color: var(--gray-dim);
}

.spacer-sm {
    width: var(--gap-sm);
    height: var(--gap-sm);
}

.spacer-md {
    width: var(--gap-md);
    height: var(--gap-md);
}

.spacer-lg {
    width: var(--gap-lg);
    height: var(--gap-lg);
}

.spacer-xl {
    width: var(--gap-xl);
    height: var(--gap-xl);
}

/* Dropdown */

.dropdown {
    position: relative;
    background-color: var(--bg_h);
    border-radius: 1000px;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -5px;
    top: 50%;
    z-index: -1;
    transform: scale(0);
    transform-origin: top right;
    padding: 24px var(--gap-md) var(--gap-md) var(--gap-md);
    overflow: hidden;
    background-color: var(--bg_h);
    gap: var(--gap-sm);
    transition: all 0.2s ease-out;

    border: 1px solid var(--fg4);
    border-top: none;
    border-radius: 16px 0 16px 16px;
}

.dropdown:hover .dropdown-content, .dropdown-content :focus {
    transform: scale(1);
    /*height: calc(100% + var(--gap-sm) * 2);*/
}

.dropdown .nav-button {
    padding: 0 var(--gap-sm);
}

/* Utils */

.m-md {
    margin: var(--gap-md);
}

.mt-c {
    margin-top: 20vh;
}

.-mtr-md {
    margin-top: calc(var(--gap-md)*-1);
    margin-right: calc(var(--gap-md)*-1);
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-sm {
    padding-left: var(--gap-sm);
    padding-right: var(--gap-sm);
}

.px-md {
    padding-left: var(--gap-md);
    padding-right: var(--gap-md);
}

.px-lg {
    padding-left: var(--gap-lg);
    padding-right: var(--gap-lg);
}

.px-xl {
    padding-left: var(--gap-xl);
    padding-right: var(--gap-xl);
}

.g-md {
    gap: var(--gap-md);
}

.g-lg {
    gap: var(--gap-lg);
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.r-full {
    border-radius: 10000px;
}

.c-xy, .c-y, .c-x {
    display: flex;
    flex-direction: column;
}

.c-xy, .c-x {
    align-items: center;
}

.c-xy, .c-y {
    justify-content: center;
}

.c-xy > *, .c-x > * {
    margin-left: auto;
    margin-right: auto;
}

.c-xy > *, c-y > * {
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.flex-1 {
    flex: 1;
}

.grid {
    display: grid;
}

.row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.b-none {
    border: none;
}